* {
    font-family: 'Roboto Condensed', sans-serif;
  }

.card {
    display: flex;
}

.card-content {
    display: block;
    text-align: left;
}

.subHeader {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 150px;
}

body {
    background-color: #23d160;
    height: 100vh;
}

